body
{

    background:#fff;
}


 input[type="text"] {
    position: relative;
}

 input[type="text"]:before {
     font-family: 'FontAwesome', serif;
    position: absolute;
    top: 0;
    left: -5px;
    content: "\f007";
}


.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: #ff0000;/*asdfasdaasdfasdfsdfasdfasfasfdf*/
}
