body{
font-family: 'Raleway', sans-serif;
background-color:black;
}
#main
{
top:10%;
left:20%;
position:absolute;
width: 410px;
height: 300px;

   // background-color: #fff;

        box-shadow: 0px 0px 90px 40px #191919;
    background-color:white;
}
label
{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
input[type=text]{
width: 330px;
height: 45px;
padding-left: 26px;
margin-bottom: 23px;

color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
background: #ededed;
    border:none;
    border-color: transparent;
    margin-left:36px;
}

 #name {
 background-image: url(img/icono-man.png);
    background-position: 292px 10px;
    background-repeat: no-repeat;
     background-color:#ededed;
}

#email {
 background-image: url(img/mail.png);
    background-position: 292px 10px;
    background-repeat: no-repeat;
     background-color:#ededed;
}



h2
{
//background-color: #FEFFED;
padding: 30px 35px;
margin:0px 0px -7px 0px;
text-align: center;
border-radius: 10px 10px 0 0;
font    :arial-bold;
}
#namediv
{
position: absolute;
top: 120px;
left: 75px;
}
#emaildiv
{
position: absolute;
top: 200px;
left: 75px;
}

button{
    background-image: url(img/button.jpg);
    width:148px;
        height:45px;

bottom: 10px;
margin-left:36px;

    border:none;
}
#formget
{
float: right;
margin-right: 25%;
margin-top: 4%;
}
form{
    margin:0px;
}
